* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    font-family:Roboto ;
    display: flex;
    background: linear-gradient(to right,lightgrey 50%,white 50%);
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-top: #85fffb 1px solid;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    border:lightgray 1px solid;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.brand-item {
    min-width: 100%;
    box-sizing: border-box;
}

.brand-item img {
    width: 100%;
    display: block;
}






