* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: Arial, sans-serif;
    padding: 40px 20px;
}

.brand__container {
    max-width: 100%;
    height: 300px;
    margin: 0 auto;
    background: rgb(246, 244, 244);
    padding-bottom: 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}

.header {
    font-family:Roboto ;
    display: flex;
    background: linear-gradient(to right,rgb(246, 244, 244) 40%,white 60%);
    color: #868484;
    padding-top: 30px;
    min-height: 70px;
    border-top: #85fffb 1px solid;
    margin-bottom: 10px;
}

.swiper-container{
    position: relative;
    width: 95%;
    height: 100px;
    margin-bottom: 10px;
   
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 15px;
    padding-left: 10px;
}

.swiper-slide {
    width:240px;
    height: 74px;
    text-align: center;
    font-size: 15px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 2px solid lightgrey;
    border-radius: 5px;
}

.arrow-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
   
}

.swiper-pagination {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.swiper-button-next, .swiper-button-prev{
    display: none;
}

.brand__container-toggle {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    display: none;
    cursor: pointer;
    color: #000000;
    border: none;
    border-radius: 0px;
    text-decoration: none;
    transition: all 0.3s  ease;
}

.collapsible_show-all:hover {
    background-color: #85fffb;
    color: white;
    cursor: pointer;
}


@media (min-width: 760px) {
    .brand__container {
        max-width: 95%;
        height: 234px;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
   
    .swiper-wrapper,
    .swiper-slide {
        display:flex;

    }

    .brand__container-toggle {
        display: visible;
    }


}


   








