* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: Arial, sans-serif;
    padding: 40px 20px;
}


.header {
    font-family:Roboto ;
    display: flex;
    background: linear-gradient(to right,lightgrey 40%,white 60%);
    color: #868484;
    padding-top: 30px;
    min-height: 70px;
    border-top: #85fffb 1px solid;
    margin-bottom: 10px;
}

.swiper-container{
    width: 80%;
    height: 100px;
    margin-bottom: 10px;
}

.swiper-slide {
    text-align: center;
    font-size: 15px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 2px solid lightgrey;
    border-radius: 5px;
}



@media (max-width: 320px) {
    .swiper-container {
        font-size: 200px;
    }
    .swiper-slide {
        font-size: 14px;
    }
}







