* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f5f5f5 0%, #e8e8e8 100%);
    padding: 40px 20px;
}


.header {
    font-family:Roboto ;
    display: flex;
    background: linear-gradient(to right,lightgrey 40%,white 60%);
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-top: #85fffb 1px solid;
}

.swiper-container{
    width: 100%;
    height: 100px;
}

.swiper-slide {
    text-align: center;
    font-size: 15px;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}








